html {
  font-size: 10px;
}

body {
  margin: 0; 
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  max-width: 100rem;
  height: 100vh;
}

.container .result {
  height: 30%;
  width: 100%;
  background-color: #a5a1a5;
  margin: 2rem 0 2rem 0;
  text-align: center;
  padding: 2rem;
}

.container .result p {
  margin: 0;
  font-size: 8rem;
}

.container .result #password {
  font-size: 10rem;
  letter-spacing: 1rem;
  height: 50%;
}

.container .result #score {
  height: 20%;
  font-size: 2.5rem;
}

.container .letters button {
  width: 5rem;
  padding: 1rem;
  font-size: 2.5rem;
  color: #fff;
  background-color: rgb(68, 66, 92);
  border: none;
  margin: 1rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.75);
}

.container .picture {
  float: right;
}

.container .picture img {
  border-radius: 0.4rem;
}

/* .reset {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  background-color: rgb(68, 66, 92);
  border: none;
  color: #fff;
  border-radius: 0.4rem;
} */